.header {
  composes: flex from "styles/layout.module.css";
  justify-content: space-between;
  width: var(--layoutMaxWidth);
  margin: 0 auto;
  height: 94px;
}

.logo {
  composes: flex from "styles/layout.module.css";
  justify-content: space-between;
  align-items: center;
  min-width: 80px;
}

.nav {
  composes: flex from "styles/layout.module.css";
  justify-content: space-between;
  min-width: 110px;
}