.shopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: var(--layoutMaxWidth);
  margin: 0 auto;
}

.promotion {
  font-size: 2.0rem;
}

.product {
  font-size: 1.8rem;
}

.line {
    border: none;
    height: 1px;
    color: var(--gray);
    background-color: var(--gray);
    opacity: 0.2;
}

@media only screen and (max-width: 600px) {
  .promotion {
    font-size: 1.4rem;
  }
  
  .product {
    font-size: 1.2rem;
  }
}