.shop {
  width: var(--layoutMaxWidth);
  margin: 5rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15rem;
}

.shopCardImage {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .shop {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem
  }

  .shopCardImage {
    width: 130px;
    height: 130px;
  }
  
}