:root {
  --primary: #5CA720;
  --black: #161616;
  --white: #F9F9F9;
  --gray: #A5A1A1;

  --small: 1.5rem;
  --medium: 3rem;
  --large: 5rem;
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
