:root {
  --primary: #5CA720;
  --black: #161616;
  --white: #F9F9F9;
  --gray: #A5A1A1;

  --layoutMaxWidth: 90%;

  --mobileDevices: 480px;
  --tablets: 768px;
  --laptops: 1024px;
  --desktops: 1200px;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
